<table class="table table-sm table-secondary table-hover table-bordered ">
  <span class="d-block p-2 bg-dark text-white">Posts</span>
    <thead class="bg-secondary">
      <tr>
        <th>Id</th>
        <th>Featured Image</th>
        <th>Post Title</th>
        <th>Post By <i class="fa fa-user"></i></th>
        <th>Category</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Date</th>
        <th>View Post</th>
      </tr>
    </thead>
    <tbody>
      {{#each posts}} {{!-- for each loop --}}
      <tr>
        
        <td>{{@index}}</td>{{!-- {{ id }} --}}
        <td><img height="50" src="/uploads/{{file}}" alt="file"></td>
        <td>{{title}}</td>  
        <td>{{user.firstName}}</td>
        <td>{{category.name}}</td>
        <td>{{status}}</td>
        <td>{{allowComments}}</td>
        <td>{{generateTime date 'MMM-D-YY'}}</td>
        <td>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm">
                <a href="/post/{{slug}}" class="btn btn-block btn-outline-info"><i class="fa fa-eye"></i></a>
              </div>
            </div>
          </div>
        </td> {{!-- View --}}
       
      </tr>
      {{/each}} {{!-- end for each loop --}}
    </tbody>
  </table>