
<div class="row text-white ">
    <!-- Post Content Column -->
 
    <div class="col-lg-8 mt-4 mb-4 bg-dark">
        <!-- Title -->
        <h1>{{post.title}}</h1>
        <!-- Author -->
        <p class="lead">by <a href="#">
            {{#if post.user}}{{post.user.firstName}}
            {{else}}Z BLOG
            {{/if}}
            </a></p>
        <hr>
        <!-- Date/Time -->
        <p>Posted on {{generateTime date 'MMMM Do YYYY'}}</p>

        <hr>
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/uploads/{{post.file}}" alt="">
        <hr>

        <!-- Post Content -->
        <p class="lead">
            {{post.body}}
        </p>

        <blockquote class="blockquote">
            <p class="mb-0">{{post.subtitle}}</p>
            {{!-- <footer class="blockquote-footer">Someone famous in
                <cite title="Source Title">Source Title</cite>
            </footer> --}}
        </blockquote>
        <hr>

    {{#if user}}
        {{#if post.allowComments}}
        <!-- Comments Form -->
        <div class="card my-4 bg-secondary">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form action="/admin/comments" method="POST">
                    <div class="form-group">
                        <textarea name="body" class="form-control" rows="3"></textarea>
                        <input type="hidden" name="id" value="{{post.id}}">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        {{else}} <h3>Comments not allowed for this post.</h3><br><hr>
        {{/if}}
    {{else}} <h3>Need to <a href="/login">login</a> to Comment</h3><br><hr>
    {{/if}}

    {{#each post.comments}}
        <!-- Single Comment -->
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">{{user.firstName}}</h5>
                {{body}}
            </div>
        </div>
    {{/each}}

        <!-- Comment with nested comments -->
       {{!--  <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.

                <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

            </div>
        </div> --}}

    </div>

   {{>home/home-sidebar}}

</div>